/* Variables */
:root {
	--color-primary: #007bff;
	--color-secondary: #6c757d;
	--color-success: #28a745;
	--color-danger: #dc3545;
	--color-warning: #ffc107;
	--color-info: #17a2b8;
	--color-light: #f8f9fa;
	--color-dark: #343a40;
}

/* Text colors */
.text-primary {
	color: var(--color-primary);
}
.text-secondary {
	color: var(--color-secondary);
}
.text-success {
	color: var(--color-success);
}
.text-danger {
	color: var(--color-danger);
}
.text-warning {
	color: var(--color-warning);
}
.text-info {
	color: var(--color-info);
}
.text-light {
	color: var(--color-light);
}
.text-dark {
	color: var(--color-dark);
}

/* Table auto-width fix */
table.wp-list-table.generators,
table.wp-list-table.licences {
	table-layout: auto !important;
}

/* Table vertical-align fix */
table.wp-list-table.generators td,
table.wp-list-table.licences td {
	vertical-align: middle;
}

table.wp-list-table.licences td.source.column-source > span {
	font-size: 2em;
}

.lima-status {
	padding: 5px 10px;
	border-radius: 3px;
	text-align: center;
	font-weight: 600;
	box-shadow: inset 0 0 0 1px rgba(0,0,0,.2);
}

.lima-status.sold-pending {
	background: var(--color-info);
	color: var(--color-light);
}
.lima-status.sold-delivered {
	background: var(--color-success);
	color: var(--color-light);
}
.lima-status.available-ready {
	background: var(--color-primary);
	color: var(--color-light);
}
.lima-status.available-deactivated {
	background: var(--color-dark);
	color: var(--color-light);
}