/* Variables */
:root {
	--color-primary: #007bff;
	--color-secondary: #6c757d;
	--color-success: #28a745;
	--color-danger: #dc3545;
	--color-warning: #ffc107;
	--color-info: #17a2b8;
	--color-light: #f8f9fa;
	--color-dark: #343a40;
}

/* Table auto-width fix */
table.wp-list-table.generators,
table.wp-list-table.licenses {
	table-layout: auto !important;
}

/* Status colors */
.lima-status:before {
	content: "";
	display: inline-block;
	width: 1em;
	height: 1em;
	border-radius: 50%;
	margin-right: 5px;
}
.lima-status.available:before {
	background: var(--color-success);
}
.lima-status.deactivated:before {
	background: var(--color-warning);
}
.lima-status.unknown:before {
	background: var(--color-dark);
}